.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
  .headerContainer {
    @apply h-24 fixed top-0 left-0 z-50;

    &::before {
      content: "";
      @apply absolute top-0 left-0;
      width: 10000%;
      height: 100%;

      background-color: #5e5373;
    }

    .headerBody {
      @apply relative flex;
      justify-content: space-between;
      z-index: 2;
      height: 80px;
      align-items: center;
      .headerMenu {
        margin: 10px 200px 0;
        a {
          color: #fff;
          text-transform: uppercase;
        }

        .headerLink {
          @apply flex;
          margin-left: 700px;

          .about {
            width: 80px;
          }

          li {
            list-style: none;
            font-size: 18px;
            padding: 0 10px;
            float: right;
          }
        }
      }
    }
    .headerLogo {
      @apply ml-5 w-20 mt-3;
      border-radius: 10px;
      display: block;
    }
  }
}
