.project-expirence-svg {
  bottom: 100px;
  left: 25%;
}

// 1392/
@media screen and (max-width: 1392px) {
  .project-expirence-svg {
    left: 20%;
  }
}

// 1197
@media screen and (max-width: 1197px) {
  .project-expirence-svg {
    left: 15%;
  }
}

// 1011
@media screen and (max-width: 1011px) {
  .project-expirence-svg {
    left: 10%;
  }
}

// 873
@media screen and (max-width: 873px) {
  .project-expirence-svg {
    left: 5%;
  }
}

@media screen and (max-width: 865px) {
  .project-expirence-svg {
    width: 40px;
    bottom: 90px;
    left: 12%;
  }
}

// 714
@media screen and (max-width: 714px) {
  .project-expirence-svg {
    left: 5%;
  }
}

// 638

@media screen and (max-width: 638px) {
  .project-expirence-svg {
    width: 35px;
    bottom: 80px;
    left: 5%;
  }
}

@media screen and (max-width: 557px) {
  .project-expirence-svg {
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    top: -20px;
  }
}
