@media (max-width: 850px) {
  .M {
    font-size: 20px;
  }
}

@media (max-width: 625px) {
  .MY {
    position: absolute;
    right: -190px;
    font-size: 20px;
  }

  .M3 {
    width: 50%;
    line-height: 25px;
  }
}

@media (max-width: 399px) {
  .M {
    font-size: 15px;
  }
  .MP {
    font-size: 15px;
  }
  .MY {
    font-size: 15px;
    right: -230px;
  }
}

@media (max-width: 776px) {
  .IMVS {
    width: 200px;
  }
}

@media (max-width: 441px) {
  .IMVS {
    width: 150px;
  }
}

@media (max-width: 1035px) {
  .IMVS {
    width: 250px;
  }
}

@media (max-width: 479px) {
  .IMVS {
    width: 150px;
  }
}

@media (max-width: 349px) {
  .IMVS {
    width: 100px;
  }
}

@media (max-width: 456px) {
  .MSS {
    width: 150px;
  }
}

@media (max-width: 423) {
  .MSS {
    width: 10px;
  }
}

@media (max-width: 399px) {
  .MSS {
    width: 100px;
  }
}

@media (max-width: 443px) {
  .MO {
    width: 50px;
  }
}

@media (max-width: 411px) {
  .AD {
    width: 50px;
  }
}

@media (max-width: 418px) {
  .S {
    width: 100px;
  }
}

@media (max-width: 576px) {
  .MSQL {
    width: 250px;
  }
}

@media (max-width: 452px) {
  .MSQL {
    width: 150px;
  }
}
