@media (max-width: 625px) {
  .FLH {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .FLH {
    font-size: 20px;
  }
}

// 545

// 444

@media (max-width: 444px) {
  .Foreign_Languages {
    font-size: 20px;
  }
}
