@import "../../../../scss/mixins.scss";

.skill-1 {
  @include item();
  padding-top: 31px;
}
.skill-2,
.skill-3,
.skill-4 {
  @include item();
}

.year-1,
.year-2,
.year-3,
.year-4 {
  margin-top: -28px;
  @include year();
}

.proficiency-1,
.proficiency-2,
.proficiency-3,
.proficiency-4 {
  @include proficiency();
}
@media (max-width: 850px) {
  .year {
    position: absolute;
    right: -140px;
    font-size: 20px;
  }
  .proficiency {
    margin-right: 30px;
    font-size: 20px;
  }
  .skill {
    font-size: 20px;
  }
}

@media (max-width: 625px) {
  .year {
    position: absolute;
    right: -190px;
    font-size: 20px;
  }

  .skill-3 {
    width: 50%;
    line-height: 25px;
  }
}

// 399

@media (max-width: 399px) {
  .skill {
    font-size: 15px;
  }
  .proficiency {
    font-size: 15px;
  }
  .year {
    font-size: 15px;
    right: -230px;
  }
}
