.foreign-langauges {
  left: 25%;
}
// 1406
@media screen and (max-width: 1406px) {
  .foreign-langauges {
    left: 20%;
  }
}

// 1152
@media screen and (max-width: 1152px) {
  .foreign-langauges {
    left: 15%;
  }
}
// 989
@media screen and (max-width: 989px) {
  .foreign-langauges {
    left: 10%;
  }
}
// 863
@media screen and (max-width: 863px) {
  .foreign-langauges {
    width: 40px;
    bottom: 50px;
  }
}
// 700
@media screen and (max-width: 700px) {
  .foreign-langauges {
    left: 5%;
  }
}

// 638
@media screen and (max-width: 638px) {
  .foreign-langauges {
    width: 30px;
    bottom: 40px;
    left: 10%;
  }
}
// 599
@media screen and (max-width: 599px) {
  .foreign-langauges {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    bottom: 0px;
  }
}
