@media (max-width: 650px) {
  ul {
    font-size: 15px;
    padding-top: 8px;
  }
  .logo {
    font-size: 15px;
  }
}

@media (max-width: 530px) {
  ul {
    font-size: 13px;
    padding-right: -1000px;
    padding-top: 10px;
  }
  .logo {
    font-size: 13px;
  }
}

// 403

@media (max-width: 403px) {
  ul {
    font-size: 11px;
    // padding-right: -1000px;
    // padding-top: 0px;
  }
  .logo {
    font-size: 11px;
    // padding-bottom: 10px;
    // padding-top: -400px;
  }
  nav {
    height: 70px;
    font-weight: 700;
  }
  .navBody {
    margin-bottom: 200px;
  }
}
