.info1 {
  width: 86%;
  margin: 7px 5% 20px;
  font-weight: 500;
  font-size: 25px;
}

.boldText {
  font-weight: 600;
  font-size: 27px;
}

.summary-svg {
  height: 50px;
  width: auto;
  left: 35%;
}
