/* TODO: optimize the class names, remove useless classes and set the self described names */

@mixin item() {
  font-weight: 500;
  margin-left: 40px;
  font-size: 25px;
  padding-top: 15px;
  @content;
}

@mixin year() {
  float: right;
  margin-right: 370px;
  font-size: 25px;
  font-weight: 500;
  @content;
}
@mixin proficiency() {
  font-weight: 500;
  font-size: 25px;
  float: right;
  margin-right: -300px;
  margin-top: -30px;
}

.M1 {
  @include item();
  padding-top: 31px;
}
.M2,
.M3,
.M4 {
  @include item();
}

.MY1,
.MY2,
.MY3,
.MY4 {
  margin-top: -28px;
  @include year();
}

.MP1,
.MP2,
.MP3,
.MP4 {
  @include proficiency();
}
