@import "../../scss/mixins.scss";

@import "../../scss/variables.scss";
h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 150px;
  font-weight: 700;
  color: $maincolor;
}
img {
  display: block;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 50px;
}

.info {
  margin-top: 80px;
  .phone,
  .address,
  .born {
    font-size: 30px;
    margin-left: 200px;
    line-height: 40px;
  }
  span {
    font-weight: 600;
  }
}

.svg {
  @include svg();
  left: 20%;
}

// main-info-svg
// 1186

@media screen and (max-width: 1186px) {
  .main-info-svg {
    left: 15%;
  }
}

@media screen and (max-width: 1000px) {
  .main-info-svg {
    left: 10%;
  }
}

@media screen and (max-width: 863px) {
  .main-info-svg {
    width: 40px;
    bottom: 55px;
  }
}

// 716
@media screen and (max-width: 716px) {
  .main-info-svg {
    left: 5%;
  }
}

@media screen and (max-width: 638px) {
  .main-info-svg {
    width: 35px;
    bottom: 50px;
  }
}

// 557

@media screen and (max-width: 557px) {
  .main-info-svg {
    display: block;
    margin: auto;
    top: 20px;
  }
}
// 392
@media screen and (max-width: 392px) {
  .main-info-svg {
    width: 30px;
  }
}
