@import "../../scss/mixins.scss";

.years {
  @include category();
}

.proficiency {
  @include category();
}

.hr {
  width: 95%;
  height: 0px;
  border-top-style: none;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  margin-left: 40px;
  border-radius: 20px;

  border: 0.002px solid #000000;
}
