@media (max-width: 1523px) {
  .info1 {
    font-size: 18px;
  }
  .boldText {
    font-size: 23px;
  }
}

@media (max-width: 691px) {
  .boldText {
    font-size: 20px;
  }
}

@media (max-width: 629px) {
  .boldText {
    font-size: 17px;
  }
}
