@media (max-width: 1523px) {
  .info1 {
    font-size: 18px;
  }
  .boldText {
    font-size: 23px;
  }
}

@media (max-width: 691px) {
  .boldText {
    font-size: 20px;
  }
}

@media (max-width: 629px) {
  .boldText {
    font-size: 17px;
  }
}

@media screen and (max-width: 1222px) {
  .summary-svg {
    left: 30%;
  }
}

@media screen and (max-width: 912px) {
  .summary-svg {
    left: 25%;
  }
}

@media screen and (max-width: 863px) {
  .summary-svg {
    width: 40px;
    bottom: 55px;
    left: 30%;
  }
}
@media screen and (max-width: 741px) {
  .summary-svg {
    left: 25%;
  }
}

@media screen and (max-width: 557px) {
  .summary-svg {
    display: block;
    margin-right: 45%;
    margin-left: 20%;
    top: 0px;
  }
}
