.info1 {
  width: 86%;
  margin: 7px 5% 20px;
  font-weight: 500;
  font-size: 22px;
}

.boldText {
  font-weight: 600;
  font-size: 27px;
}

@media (max-width: 1523px) {
  .info1 {
    font-size: 18px;
  }
  .boldText {
    font-size: 23px;
  }
}

// 691

@media (max-width: 691px) {
  .boldText {
    font-size: 20px;
  }
}

// 629

@media (max-width: 629px) {
  .boldText {
    font-size: 17px;
  }
}
