.years {
  font-weight: 600;
  font-size: 30px;
  float: right;
  padding-right: 44px;
}

.proficiency {
  font-weight: 600;
  font-size: 30px;
  float: right;
  margin-right: 100px;
}

.hr {
  width: 70%;
  height: 0px;
  border-top-style: none;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15%;

  border: 0.5px solid #000000;
}

@media (max-width: 625px) {
  .years {
    font-size: 2px;
  }
  .proficiency {
    font-size: 2px;
  }
}

@media (max-width: 400px) {
  .years {
    font-size: 2px;
  }
  .proficiency {
    font-size: 2px;
  }
}

// skills-and-expirence-svg
// 1350
@media screen and (max-width: 1350px) {
  .skills-and-expirence-svg {
    left: 15%;
  }
}
// 1110
@media screen and (max-width: 1110px) {
  .skills-and-expirence-svg {
    left: 10%;
  }
}

// 961
@media screen and (max-width: 961px) {
  .skills-and-expirence-svg {
    left: 5%;
  }
}

@media screen and (max-width: 863px) {
  .skills-and-expirence-svg {
    width: 40px;
    bottom: 55px;
  }
}

@media screen and (max-width: 678px) {
  .skills-and-expirence-svg {
    display: block;
    margin-left: 45%;
    margin-right: 45%;
    top: 0px;
  }
}
