.years {
  font-weight: 600;
  font-size: 30px;
  float: right;
  padding-right: 44px;
}

.proficiency {
  font-weight: 600;
  font-size: 30px;
  float: right;
  margin-right: 100px;
}

.hr {
  width: 70%;
  height: 0px;
  border-top-style: none;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15%;

  border: 0.5px solid #000000;
}

@media (max-width: 625px) {
  .years {
    font-size: 2px;
  }
  .proficiency {
    font-size: 2px;
  }
}

@media (max-width: 400px) {
  .years {
    font-size: 2px;
  }
  .proficiency {
    font-size: 2px;
  }
}
